<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test5</title>
</head>
<body>
hmtl的常规注释：<!--html 的常规注释--><br>
行注释：{//行注释内容}<br>
块注释：{/*块注释内容*/}<br>
使用[]形式输出tp中的数组值：{$arr[0]} - {$arr[1]} - {$arr[2]} - {$arr[3]} - {$arr[4]}<br>
使用.形式输出tp中的数组值：{$arr.0} - {$arr.1} - {$arr.2} - {$arr.3} - {$arr.4}<br>
<hr>
使用[]形式输出tp中的数组值：{$arr2[0][0]} - {$arr2[0][1]} - {$arr2[1][0]} - {$arr2[1][1]}
{$arr2[2][0]} - {$arr2[2][1]}
{$arr2[3][0]} - {$arr2[3][1]}
{$arr2[4][0]} - {$arr2[4][1]}<br>
使用.形式输出tp中的数组值：{$arr2.0.0} - {$arr2.0.1} -
{$arr2.1.0} - {$arr2.1.1} -
{$arr2.2.0} - {$arr2.2.1} -
{$arr2.3.0} - {$arr2.3.1} -
{$arr2.4.0} - {$arr2.4.1}<br>
</body>
</html>