<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部门添加</title>
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
                <td>部门名称</td>
                <td>
                    <input name="id" value="{$data.id}" type="hidden">
                    <input type="text" value="{$data.name}" name="name">
                </td>
            </tr>
            <tr>
                <td>上级部门</td>
                <td>
                    <select name="pid">
                        <option value="0">顶级部门</option>
                        <volist name="info" id="vol">
                            <option value="{$vol.id}" <if condition="$vol.id == $data.pid ">selected='selected'</if>>{$vol.name}</option>
                        </volist>
                    </select>
                </td>
            </tr>
            <tr>
                <td>排序</td>
                <td><input type="text" value="{$data.sort}" name="sort"></td>
            </tr>
            <tr>
                <td>部门描述</td>
                <td><textarea name="remark" rows="8" cols="22">{$data.remark}</textarea></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="提交">
                    <input type="reset" value="重置">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>